<div class="container text-center text-md-left pt-4 pt-md-5">
  <p id="notice"><%= notice %></p>

  <h1>Welcome to Random Access Memory Express!</h1>
  <h2>
    We sell a variety of products
  </h2>
  <h3>
    Check out our <%= link_to 'products on sale', products_sale_path %> or our
    <%= link_to 'new products', products_new_path %>
  </h3>
</div>