// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$padding: 10px;

%fontcolor-shared {
  color: #333;
}

ul {
  @extend %fontcolor-shared;
  list-style-type: none;
  padding: $padding;
}

li {
  list-style-type: none;
}

input#quantity {
  width: 50px;
}

input.remove-button {
  margin-left: $padding;
}

ul.dropdown-cart{
  min-width:250px;
}
ul.dropdown-cart li .item{
  display:block;
  padding:3px 10px;
  margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
  background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

ul.dropdown-cart li .item-left{
  float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
  float:left;
}
ul.dropdown-cart li .item-left span.item-info span{
  display:block;
}
ul.dropdown-cart li .item-right{
  float:right;
}
ul.dropdown-cart li .item-right button{
  margin-top:14px;
}