<div class="container text-center text-md-left pt-4 pt-md-5">
 <div class="card-body">
    <div class="login-form">
      <h2>Thanks, you for placing your order</h2>
      <%= button_to 'Return to RAMExpress', update_order_path, method: :post, params: { id: 0 } %>
    </div>
  </div>
</div>